nav{
    height: 50px;
}

body {
    background-color: #111827;
    color: aliceblue;
}

hr {
    border-color: rgb(168, 170, 171);
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 30px;
    align-items: center;
}

.card-header {
    height: 150px;
}

.card{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.card-body{border-bottom-left-radius: 50px;}

h1 {
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
}