body { background-color: #356489; }

nav{ height: 50px; }

img{ padding-top: 20px;float: left;}

.container { padding-top: 20px; }

.card{border:gray outset 8px}

.card-header{ background-color: #ffc107; }

.card-body{ background-color: #A9A9A9; }

i{padding-right: 5px;}

