<div class="jumbotron jumbotron-fluid card text-white bg-secondary text-center mb-3">
    <div class="container">
      <h1 class="display-4" style="letter-spacing: 4px;">About this project | HypersTech</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>