<nav class="nav navbar-dark bg-primary">
    <a style="margin-left: 10%;" class="navbar-brand" href="/">HypersTech</a>
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/categories/home">Categorias</a>
        </li>
    </ul>
</nav>
