<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Criar Novo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/categories/home">Categoria</a>
              <a class="dropdown-item" href="/admin/articles/new">Artigo</a>         
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>