<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbarAdmin.ejs') %>
<div class="container">
    <hr>
    <%- include('partials/jumbotron.ejs') %>
    <hr>
    
    
    
</div>

</body>
<%- include('partials/footer.ejs') %>
