<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h1 style="font-family: Arial Narrow, sans-serif;" >ABOUT THIS PROJECT</h1>
    <hr>

    
</div>

</body>
<%- include('partials/footer.ejs') %>
