<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbarAdmin.ejs') %>
<div class="container">
    <hr>
    <h1>HYPERSTECH | BLOG</h1>
    <hr>

    <% articles.forEach((articles) => { %>
        <div class="card text-white bg-secondary mb-3 max-width">
            <div class="card-header">
                <h1><%= articles.title %></h1>
            </div>
            <div class="card-body">
                <a class="btn btn-sucess">Ler aritgo</a>
            </div>
        </div>
    <% }) %>
    
        
       
</div>

</body>
<%- include('partials/footer.ejs') %>



