<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbarAdmin.ejs') %>
<div class="container">
    <hr>
    <h1>HYPERSTECH | BLOG</h1>
    <hr>
    <div class="container-grid">
        <% articles.forEach((articles) => { %>
            <div class="card text-white bg-dark" >
                <div class="card-header">
                    <h1><%= articles.title %></h1>
                </div>
                <div class="card-body bg-secondary">
                    <a class="btn btn-success">Ler artigo</a>
                </div>
            </div>
        <% }) %>
    </div>
    
       
</div>

</body>
<%- include('partials/footer.ejs') %>



