<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h1>Cadastro de Categoria</h1>
        </div>
        <div class="card-body">
            <form action="" method="GET"">
                <input class="form-control" placeholder="Defina o nome da categoria..." type="text" name="titleCategory"><br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
</body>
<%- include('../../partials/footer.ejs') %>