<%- include('partials/header.ejs'); %>
<body>

    <%- include('partials/navbar.ejs') %>
<br>
<a href="/home"><img src="/img/queen-logo.png"></a>
<div class="container">   
        <div class="card">
            <div class="card-header">
                <h1>REALIZAR PERGUNTA</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/saveperguntas">
                    <label>Título</label>
                    <input class="form-control" type="text" placeholder="Título" name="titulo">
<br>
                    <label>Descrição</label>
                    <textarea class="form-control" placeholder="Descreva sua pergunta aqui" name="descricao"></textarea>
<br> 
                    <button class="btn btn-warning">Perguntar</button>
                </form>
            </div>
        </div>

</div>
</body>
<%- include('partials/footer.ejs') %>