<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

    <% articles.forEach((articles) => { %>
        <h1> <%= articles.title %> </h1>
    <% }) %>

</body>
<%- include('../../partials/footer.ejs') %>