<nav class="navbar navbar-light bg-warning">
    <div class="container">
        <div class="d-flex justify-content-start">
            <a href="https://github.com/suzana-space"><i class="fab fa-github fa-2x" style="color: #000000;"></i></a>
            <a href="https://www.linkedin.com/in/suzana-araujo-469922264/"><i class="fab fa-linkedin fa-2x" style="color: #000000;"></i></a>
            <a href="https://www.instagram.com/szn_araujo/"><i class="fab fa-instagram fa-2x" style="color: #000000;"></i></a>
        </div>
    </div>
</nav>